{% extends "basic.html" %}
{% block update %}
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <form action="" method="post">{% csrf_token %}  
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input name="first_name" type="text" class="form-control" id="id_first_name" placeholder="First Name" value={{form.first_name.value}}>  
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input name="last_name" type="text" class="form-control" id="id_last_name" placeholder="Last Name" value={{form.last_name.value}}> 
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" id="id_email" placeholder="Email" value={{form.email.value}} > 
  </div>

 <input type="submit" value="Submit">
 </form>
 </div>
 </div>
 <div class="col-md-4"></div>
 {% endblock %}